<html>
  <body>
  <div class="container">{% include 'header.html' %}</div>

  <div class="container">
    <div class="jumbotron">
        <h3>Graduate Universities</h3>
        <h4>Please Enter your GRE score and GPA</h4>
        <p class="lead"></p>
        <p>
          <form action="/graduatealgo">
            GRE Verbal Score:<br>
           <input type="text" name="greV">
           <br>
           GRE Quantitative Score:<br>
           <input type="text" name="greQ">
           <br>
           GRE Writing Score:<br>
           <input type="text" name="greA">
           <br>
           Cumulative GPA of Undergraduate:<br>
           <input type="text" name="cgpa">
           <br><br>
           <input type="submit" value="Submit">
         </form> 
        </p>
    </div>

    <footer class="footer">
    </footer>
  </div>
  {% include 'footer.html' %}
  </body>
</html>
