<html>
<body>
<div class="container">{% include 'header.html' %}</div>

<div class="container">
    <div class="jumbotron showcase">
        <div class="head intro">
            <div class="row">
                <div class="col-md-8 offset-2">
                    <h1 class="margin-bottom-sm">Start planning your higher education today!</h1>
                    <h2 class="h4 margin-bottom-md">URS (University Recommendation System) is world's one of the largest University search portal for
                        students
                        and
                        graduates. Sign up now for latest news or browse through Undergraduate and Graduate
                        programmes!</h2>

                </div>
            </div>
        </div>
        <div class="jumbotron">
            <h4>Please select the level of university you need recommendations</h4>
            <p class="lead"></p>
            <p>
                <a class="btn btn-lg btn-success" href="/undergraduate" role="button">UnderGraduate University</a>
                <a class="btn btn-lg btn-success" href="/graduate" role="button">Graduate University</a>
            </p>
        </div>
    </div>
</div>
{% include 'footer.html' %}
</body>
</html>
